h1 {
  font-size: 26px;
}

.forms {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.field {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.field input,
.field select,
.field .input-mask {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  outline: none;
  box-sizing: border-box;
}

.field input:focus,
.field select:focus,
.field .input-mask:focus {
  border-color: #eed5f1; 
}

.submit {
  width: 20%;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #f5e8f7; 
  color: black; 
  border-color: #eed5f1;
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #eed5f1; 
  color: black;
  border: none;
}

main h1 {
  margin-top: 50px;
}

.button-editar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.submit-editar {
  width: 40%;
  margin-top: 25px;
  padding: 10px 20px; 
  background-color: #f5e8f7; 
  color: black; 
  border-color: #eed5f1;
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.submit-editar:hover {
  background-color: #eed5f1;
  color: black;
  border: none;
}

.tables {
  width: 90%;
  margin: 25px 10px;
}

.Column {
  display: flex;
  justify-content: space-between;
}

/* Responsividade */
@media (max-width: 768px) {
  .tables table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .tables th,
  .tables td {
    padding: 8px 10px;
  }

  .Column {
    display: none;
  }

  .button-editar {
    display: block;
    flex-direction: column;
    overflow-x: auto;
    gap: 10px; 
  }
}

section {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-text h2 {
  width: 80%;
}

.wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.campo-telefone{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}