h1 {
  font-size: 23px;
}
.forms {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
  box-sizing: border-box;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.form-padrao {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* aqui que eu altero */
  justify-content: center;
}

.form-padrao  .field {
  width: 350px;
}
.form-padrao .field input{
  width: 350px;
}

.forms-editar .field {
  width: 350px;
}
.forms-editar .field input{
  width: 350px;
}
.campo-cadastro1 {
  width: 100%;
  height: auto;
  /* max-width: 455px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left !important;
  gap: 20px;
  align-items: left;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 16px !important;
  padding: 0px 20px 0px 20px;

}


.campo-direita{
  width: 100%;
  height: 50%;
  max-width: 850px;
  justify-content: space-between;
  gap: 30px;
  display: flex;
  flex-direction: column;

  .campo-cadastro2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    align-items: left;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 16px !important;
    padding: 0px 20px 20px 20px;
  
    .campo-cpf{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
    .campo-rg{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .campo-cadastro3 {
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 16px !important;
    padding: 0px 20px 20px 20px;

    .campo1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;

    }
    .campo2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
    .campo3{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
  }
}

.field {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.field input,
.field select,
.field .input-mask {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  outline: none;
  box-sizing: border-box;
}

.field input:focus,
.field select:focus,
.field .input-mask:focus {
  border-color: #eed5f1; 
}

.submit {
  width: 20%;
  max-width: 170px;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #f5e8f7; 
  color: black; 
  border-color: #eed5f1;
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #eed5f1; 
  color: black;
  border: none;
}

main h1 {
  margin-top: 30px;
}

.button-editar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.submit-editar {
  width: 40%;
  margin-top: 25px;
  padding: 10px 20px; 
  background-color: #f5e8f7; 
  color: black; 
  border-color: #eed5f1;
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.submit-editar:hover {
  background-color: #eed5f1;
  color: black;
  border: none;
}

.tables {
  width: 80%;
  margin: 25px 10px;
}

.Column {
  display: flex;
  justify-content: space-between;
}

/* Responsividade */
@media (max-width: 768px) {
  .tables table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .tables th,
  .tables td {
    padding: 8px 10px;
  }

  .Column {
    display: none;
  }

  .button-editar {
    display: none;
    flex-direction: column;
    gap: 10px; 
  }
}

/* page lista.js */
section {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-text h2 {
  width: 80%;
}

.wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.listagem,
.cadastrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.listagem .mb-2 {
  margin-top: 25px;
}
.clickavel{
  cursor: pointer;
}
.clickavel:hover{
  opacity: 0.8;
  transition: opacity 0.2s;
}
.content-modal{
  margin-bottom: 100px;
}

.telefone{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.campo-cadastro-lista {
  width: 30%;
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  align-items: center !important;
  gap: 20px;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 16px !important;
  padding: 0px 20px 0px 20px;

}
.tables-lista {
  width: 90%;
  height: 100%;
  margin: 25px 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  
}
.campo-cadastro-lista1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  align-items: center !important;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 16px !important;
  padding: 30px 30px 30px 30px;

}
.tables-lista1 {
  width: auto;
  height: auto;
  margin: 25px 10px;
  justify-content: center;
  align-items: center !important;
  align-self: center;
}