.navbar {
    background-color: #f5e8f7; 
    
    .navbar-nav .nav-link {
      color: black; 
      margin-right: 20px; 
    }
  
    .navbar-brand {
      color: black; 
    }
  
    .navbar-toggler {
      border-color: white; 
    }
  
    .dropdown-menu {
      background-color: #f5e8f7;
    }
  
    .dropdown-item {
      color: black; 
    }
  
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: #eed5f1; 
      color: black;
    }
  }
